* {
    margin: 0;
    padding: 0;
}

body {
    /*background-color: rgb(36, 35, 35);*/
    background-color: red;
    color: white;
}


/*
header{
  width: 100%;
  position: fixed;
}


.cabecera{
  display: flex;
}
.botones{
    flex-grow: 0;
    justify-content: center;
    align-self: center;
}
.boton{
    width: 80%;
    margin: 10px;
    margin-left: 15px;
    padding: 5px;
    background-color: gold;
}
.titulo{
    flex-grow: 9;
    font-size: 128px;
    text-align: center;
    color: gold;
}

.usuario{
    flex-grow: 1;
    text-align: center;
}
.usuarioImagen{
    margin-top: 20px;
    border-radius: 150px;
    height: 100px;
}
.buscar{
    display: flex;
    flex: 0 0 100%;
    text-align: center;
}

.botonBuscar{
    margin-left: 40px;
    margin-right: 10px;
    margin-top: 5px;
    width: 75px;
    height: 30px;
    background-color: gold;
}

.barraBuscadora{
    width: 70%;
    margin-top: 5px;
}*/